/***************************reset**************************/
*{ 
	margin:0;
	padding:0;
	boder-sizing:boder-box;
  moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
body{
	font-size:14px;
	font-family:Arial,Verdana,Tahoma,"微软雅黑","黑体";
	line-height:120%;
	background:#fff;
	margin:0;
	overflow-x:hidden;
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,form,table{
	margin:0;padding:0;
}
a,img{
	border:none;
	text-decoration: none;
}
img{
	vertical-align:middle;
	border:0;
}
li{list-style:none;}

/**********************media query***********************/

/*********************Gobal Classes**********************/
/*清除浮动*/
.clearfix:after{
	clear: both;
	content: '';
	display: block;
}
/*For IE*/
.clearfix{
	zoom: 1;
}
/*常用颜色*/
.color-white{
	color: white;
}
.color-black{
	color: black;
}
.color-cake{
	color: #95524A;
}
/*文本对齐方式*/
.t-l{ 
	text-align:left;
}
.t-c{ 
	text-align:center;
}
.t-r{ 
	text-align:right;
}
/*块状元素水平居中*/
.m-c{
	margin: 0px auto;
}
/*浮动方向*/
.f-l{
	float: left;
}
.f-r{
	float: right;
}
/*字体大小*/
.f-b{
	font-weight: bold;
}
.f-10{ 
	font-size:10px;
}
.f-11{ 
	font-size:11px;
}
.f-12{ 
	font-size:12px;
}
.f-13{ 
	font-size:13px;
}
.f-14{ 
	font-size:14px;
}
.f-16{ 
	font-size:16px;
}
.f-18{ 
	font-size:18px;
}
.f-20{ 
	font-size:20px;
}
.f-24{ 
	font-size:24px;
}

.f-34{ 
	font-size:34px;
}
/*显示方式*/
.block{
	display: block;
}
.inline{
	display: inline;
}
.inline-block{
	display: inline-block;
}
/*常用外边距*/
.m-b-10{
	margin-bottom: 10px;
}
.m-b-20{
	margin-bottom: 20px;
}
.m-b-30{
	margin-bottom: 30px;
}
.m-t-10{
	margin-top: 10px;
}
.m-t-20{
	margin-top: 20px;
}
.m-t-30{
	margin-top: 30px;
}
.m-l-10{
	margin-left: 10px;
}
.m-l-20{
	margin-left: 20px;
}
.m-l-30{
	margin-left: 30px;
}
.m-r-10{
	margin-right: 10px;
}
.m-r-20{
	margin-right: 20px;
}
.m-r-30{
	margin-right: 30px;
}
/*常用行高*/
.l-h-20{
	line-height: 20px;
}
.l-h-25{
	line-height: 25px;
}
.l-h-30{
	line-height: 30px;
}
.l-h-35{
	line-height: 35px;
}
.p-t-10{
	padding-top: 10px;
}
.p-t-20{
	padding-top: 20px;
}
.p-t-30{
	padding-top: 30px;
}
.p-l-10{
	padding-left: 10px;
}
.p-l-20{
	padding-left: 20px;
}
.p-l-30{
	padding-left: 30px;
}
.p-r-10{
	padding-right: 10px;
}
.p-r-20{
	padding-right: 20px;
}
.p-r-30{
	padding-right: 30px;
}
.p-b-10{
	padding-bottom: 10px;
}
.p-b-20{
	padding-bottom: 20px;
}
.p-b-30{
	padding-bottom: 30px;
}
/*style for template |header|aside|footer|*/
html,body{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px !important;
}
