*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#000;}
body{font-size:12px;font-family:Arial,Verdana,Tahoma,"微软雅黑","黑体";line-height:120%;background:#fff;margin:0;overflow-x:hidden;}
p, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, form, table{margin:0;padding:0;}
a, img{border:none;}
img{vertical-align:middle;border:0;}
ul, li{list-style:none;margin: 0;padding: 0;}
i, em{font-style:normal;}
a{text-decoration:none;/* color:#000000;*/border:0;}
a:link{text-decoration:none; color:#000000;}
a:hover{text-decoration:none; color:#000000;}
a:visited{text-decoration:none; color:#000000;}
a:active{text-decoration:none; color:#000000;}
.clearfix:before, .clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.clearfix{*zoom:1} 
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
input, button{outline:none;margin:0;padding:0;}
::-moz-focus-inner{border:none;}
a{blr:expression(this.onFocus=this.blur());}
:focus{outline:0;-moz-outline-style:none;}
body{
    width:100%;
    margin: 0;
    background-color: #e6e6e6;
    padding-bottom:2.45rem;
}
nav{
    position:relative;
}
nav ul{padding-top:0.5rem;padding-bottom:0.5rem;background-color: #ffffff;}
nav ul li{width:33.3%;line-height:30px;float:left;text-align:center;color:#373b3e;}
nav ul li a{display:block;font-size:1rem;}
nav .glide{position: absolute;height: 3px;background-color: #373b3e;width:33.3%;left:0;bottom:0.5px;}
.content{
    padding-right: 4.81%;
    padding-left: 4.81%;
    padding-bottom: 4.18%;
    margin-top: 0.31rem;
    background-color: #ffffff;
}
.content li{border-bottom: 1px solid #e6e6e6;padding: 20px 2.037% 20px 2.037%;position: relative;}
.content li img{width:3.5rem;height:3.5rem;float: left;}
.content li .introduce{float: left;padding-left: 1rem;}
.content li .introduce .name{font-size: 1rem;padding-top: 0.8rem;line-height:1rem;}
.content li .introduce .time{font-size: 1rem;padding-top: 0.3rem;line-height:1rem;}
.content li button{position: absolute;float:right;width: 3.25rem;height: 1.75rem;border:none;top:35%;right:2.037%;color:#ffffff;-moz-border-radius: 5px;-webkit-border-radius: 5px;font-size:0.75rem;}
.content li .receive{background-color: #ec971f;}
.content li .accepted{background-color: #428bca;}
.content li .done{background-color: #5cb85c;}
.content li .police{background-color: #d9534f;}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #363b3e;
    padding: 0.3rem 1rem 0.35rem 1rem;
}
footer a{display: block;}
footer p{font-size:0.9rem;color:#d8dcdf;}
footer .task{float: left;text-align: center;}
footer .task img{width: 1.5rem;height: 1.5rem;}
footer .task p{padding-top:0.5rem;}
footer .personal{float:right;text-align: center;}
footer .personal img{width: 1.5rem;height: 1.5rem;}
footer .personal p{padding-top:0.5rem;}
footer .warn{position:absolute;top:-20%;left:43%;text-align:center;}
footer .warn img{width:2.5rem;height: 2.5rem;}
footer .warn p{padding-top:0.5rem;}

