<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd  ">
    <!-- 配置SpringMVC -->
    <!-- 1.开启SpringMVC注解模式 -->
    <!-- 简化配置
        (1)自动注册DefaultAnnotationHandlerMapping,AnnotationMethonHandlerAdapter
        (2)默认提供一系列功能：数据绑定、数字和日期的format @NumberFormat,@DataTimeFormat
            xml和json默认读写支持
    -->
    <mvc:annotation-driven/>

    <!-- 2.servlet-mapping 映射路径："/" -->
    <!-- 静态资源默认servlet配置
        (1)加入对静态资源的处理
        (2)允许使用"/"做整体映射
    -->
    <mvc:default-servlet-handler/>

    <!-- 3.JSP的显示ViewResolver -->
    <bean id="velocityConfigurer"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/templates" />
        <property name="velocityProperties">
            <props>
                <prop key="input.encoding">utf-8</prop>
                <prop key="output.encoding">utf-8</prop>
            </props>
        </property>
    </bean>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/vm/"/>
        <property name="suffix" value=".vm"/>
    </bean>

    <!-- 4.扫描web相关的bean -->
    <context:component-scan base-package="com.irelandlight.controller"/>

    <!--5.注册相关拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/login"/> <!--TODO:配置拦截器拦截路径-->
            <bean class="com.irelandlight.interceptor.isLoginIn"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/insert"/> <!--TODO:配置拦截器拦截路径-->
            <bean class="com.irelandlight.interceptor.insertMyHistory"></bean> <!--插入浏览记录-->
        </mvc:interceptor>
    </mvc:interceptors>


</beans>