<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.irelandlight.dao.OrderMapper">
    <resultMap id="tbMapToOrder" type="com.irelandlight.model.Order">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="last_update" property="lastUpdate"/>
        <result column="visibility" property="visibility"/>
        <result column="order_number" property="orderNumber"/>
        <result column="consumer_id" property="consumerId"/>
        <result column="address_id" property="addressId"/>
        <result column="pay_way" property="payWay"/>
        <result column="transfer_way" property="transferWay"/>
        <result column="transfer_time" property="transferTime"/>
        <result column="gift" property="gift"/>
        <result column="table_ware_count" property="tableWareCount"/>
        <result column="coupon_id" property="couponId"/>
        <result column="price" property="price"/>
        <result column="transfer_begin" property="transferBegin"/>
        <result column="transfer_end" property="transferEnd"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
    </resultMap>
    <select id="selectOrderUnhandle" resultType="int">
        SELECT COUNT(*) FROM tb_order WHERE status=0;
    </select>
    <select id="selectOrderUnpay" resultType="int">
        SELECT COUNT(*) FROM tb_order WHERE status=1;
    </select>
    <select id="selectOrderUndispatch" resultType="int">
        SELECT COUNT(*) FROM tb_order WHERE status=2;
    </select>
    <select id="selectOrderSucceed" resultType="int">
        SELECT COUNT(*) FROM tb_order WHERE status=3;
    </select>
    <select id="selectOrderCanceled" resultType="int">
        SELECT COUNT(*) FROM tb_order WHERE status=4;
    </select>

    <select id="selectOrderDetailByMonth" resultType="java.util.HashMap">
        select month(create_time) mon,count(*) orderCount
        from tb_order
        where year(create_time)=year(sysdate())
        group by month(create_time);
    </select>
    <select id="selectOrderByOrderNo" resultMap="tbMapToOrder">
        SELECT * FROM tb_order WHERE order_number=#{orderNo}
    </select>

    <resultMap id="simpOrderInfo" type="com.irelandlight.vo.OrderSimpleInfo">
        <result column="order_id" property="id"/>
        <result column="order_create_time" property="createTime"/>
        <result column="consumer_id" property="consumerId"/>
        <result column="user_name" property="usrName"/>
        <result column="order_number" property="orderNumber"/>
        <result column="status" property="orderStatus"/>
    </resultMap>

    <select id="selectOrderSimpleInfo" resultMap="simpOrderInfo">
         select tb_order.id order_id,tb_order.create_time order_create_time,consumer_id,user_name,order_number,status
         from tb_order,tb_consumer
         where tb_order.consumer_id=tb_consumer.id;
    </select>


    <select id="selectOrderDetailById" resultType="com.irelandlight.vo.OrderDetail">

      select tb_order.id orderId,tb_order.order_number orderNo,tb_consumer.id userId,tb_order.transfer_way transferWay,tb_order.create_time createTime,tb_order.`status` status,transfer_begin transferBegin,transfer_end transferEnd,
        transfer_time transferTime,tb_order.price orderSum,tb_address.consumer_name userName,province,city,district,street,detail,post,tb_address.consumer_phone telephone,remark
      from tb_order,tb_consumer,tb_address
      where tb_order.id=#{orderId} and tb_consumer.id=tb_order.consumer_id and tb_address.id=tb_order.address_id
    </select>

    <select id="selectOrderGoodsDetailById" resultType="com.irelandlight.vo.OrderGoodsDetail">
        select tb_order_goods_relation.goods_id goodsId,tb_goods.`name` goodsName,tb_order_goods_relation.size goodSize,tb_goods_size.price price,tb_order_goods_relation.count
        from tb_order_goods_relation,tb_goods_size,tb_goods
        where tb_order_goods_relation.order_id=#{orderId} and tb_goods.id=tb_order_goods_relation.goods_id and tb_order_goods_relation.goods_id=tb_goods_size.goods_id and tb_order_goods_relation.size=tb_goods_size.size
    </select>

    <update id="updateOrder">
        UPDATE tb_order SET status=#{orderModify.orderStatus},transfer_begin=#{orderModify.transferBegin},transfer_end=#{orderModify.transferEnd},transfer_way=#{orderModify.transferWay}
        WHERE id=#{orderId}
    </update>

    <update id="updateTransferWay">
         UPDATE tb_order SET transfer_way=#{transferWay} WHERE id=#{orderId}
    </update>

    <update id="updateTransferBegin">
        UPDATE tb_order SET transfer_begin=#{transferBegin} WHERE id=#{orderId}
    </update>
    <update id="updateTransferEnd">
        UPDATE tb_order SET transfer_end=#{transferEnd} WHERE id=#{orderId}
    </update>
    <update id="updateStatus">
        UPDATE tb_order SET status=#{newStatus} WHERE id=#{orderId}
    </update>

</mapper>